/* header下面部分 */
.header-next{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 800px;
    background-color: transparent;
}

.header-next .info{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 40%;
    height: 300px;
    background-color: rgba(255, 255, 255, 0.95);
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out 0.8s forwards;
}
/* 下滑按钮 */
#button_down{
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    width: 50px;
    height: 50px;
    background-color: transparent;
    color: #7f8182e8;
    cursor: pointer;
    animation: float 2s ease-in-out infinite;
}
/* content主体 */
.content{
    flex: 1;
    width: 100%;
    min-height: 1000px;
    margin: 10px auto auto 0;
    background-color:rgba(255,255,255,.7);
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    z-index: 1;
}
/* 动画信息 */
.anime-info{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 900px;
    background-color: rgba(255,255,255,.3);
    text-align: left;
}

.anime-info-card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    height: 80%;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.1);
    overflow: hidden;
    cursor: pointer;
}

.anime-info-text{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    background-color: #ffffffda;
    background-image: url();
    color: black;
    font-size: 24px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0,0,0,.1);
    opacity: 0;
    transform: translateY(100%);
    cursor: inherit;
}
.animate-in{
    animation: flyInFromDown 1.5s ease-in-out forwards;
}
.animate-out{
    animation: flyInFromUp 1.5s ease-in-out forwards;
}

.anime-info-text .text{
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 60%;
    cursor: inherit;
}

#mygo_kv{
    height: 100%;
    cursor: inherit;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes float{
    0%, 100% {
        transform: translate(-50%, 0);
        filter: drop-shadow(0 5px 5px rgba(0,0,0,0.3));
    }
    50% {
        transform: translate(-50%, -10px);
        filter: drop-shadow(0 15px 8px rgba(0,0,0,0.2));
    }
}

@keyframes flyInFromDown {
    0%{
        transform: translateY(100%);
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes flyInFromUp {
    0%{
        transform: translateY(0);
        opacity: 1;
    }
    100%{
        transform: translateY(100%);
        opacity: 0;
    }
}